
body {
  overflow-y:scroll;
  background-color: rgb(244, 244, 244) !important;
  font-weight: 200 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500&display=swap');

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width:3.4em;
}

.MuiPickersToolbarText-toolbarTxt {
  color: rgb(244, 244, 244) !important;
}
.MuiPickersToolbarText-toolbarBtnSelected {
  color: rgb(244, 244, 244) !important;
}

.MuiSelect-select:focus {
  background-color: rgba(0, 0, 0, 0) !important;
}
.MuiPickersBasePicker-pickerView {
 background-color: white !important;
}
.MuiDialog-container{
  will-change: transform, z-index !important;
}
.MuiDialog-root{
  will-change:visibility  !important;
}
.MuiAlert-message {
	padding: 0px !important;
  font-weight: 300;
  font-size: 1rem;
}