body {
  background-color: rgb(234, 234, 234) !important;
}


.ui.vertical.menu .item > img:not(.ui):only-child{
  max-width: 60%;
  margin: auto;
  display: "flex";
  
}

.ui.inverted.vertical.left.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(23, 83, 160) 0%,
    rgb(0, 180, 255) 99%
  ) !important;
  font-size: 19px;
  text-align: center;
  margin: auto;
  display: "flex";
  
}

#Inv.ui.container{
  height: 50em;
  align-items: center 
}